# global config

# include alias: this needs to be before [alias]
[include]
	path = alias-work.gitconfig

[core]
	autocrlf = true
[rerere]
	enabled = true

[core]
	editor 			= scite
	preloadindex 	= true
	fscache 		= true
	pager 			= less -x4
[gc]
	#auto = 256 #default 6700

[help]
	autocorrect = 23

[diff]
	tool 			= winmerge
	mnemonicPrefix 	= true
[difftool]
	prompt 	= false
[difftool "winmerge"]
	cmd 	= winmerge.sh "$LOCAL" "$REMOTE" # see gist for winmerge.sh

[merge]
	tool 			= winmerge
[mergetool]
	prompt 			= false
	keepBackup 		= false
	keepTemporaries = false
[mergetool "winmerge"]
	cmd 			= WinMergeU -e -u -wl "$MERGED" # "$REMOTE" "$LOCAL"
	trustExitCode 	= false
[mergetool "meld"]
	keepBackup = false
	trustExitCode = false
	cmd = '/c/Program Files (x86)/meld/meld.exe' "$BASE" "$LOCAL" "$REMOTE" -o "$MERGED"

[alias]
	# note: shell commands (with !) will be executed from the top-level directory of a repository,
	# which may not necessarily be the current directory. so add 'cd ${GIT_PREFIX:-.} &&' before.
	
	## readonly ##
	s 		= status -s
	sl 		= status
	b 		= branch
	bs 		= branch --sort=committerdate
	co 		= checkout
	d 		= diff
	dt 		= difftool
	mt 		= mergetool
	dw 		= diff --color-words=.
	de 		= diff --ignore-space-at-eol
	ds 		= diff --ignore-all-space
	sb 		= show-branch
	wc 		= whatchanged --oneline
	rp 		= rev-parse
	rl 		= rev-list
	lrcount = rev-list --left-right --count
	lcount 	= rev-list --left-only --count
	rcount 	= rev-list --right-only --count
	note 	= log --pretty=note -1
	lsf 	= ls-files
	lst 	= ls-tree
	has 	= branch -r --contains
	no-has 	= branch -r --no-contains
	g 		= grep --heading
	
	## write ##
	a 		= add
	c 		= commit
	cm 		= commit -m
	ac 		= !"git add --all && git c"
	acm 	= !"git add --all && git cm"
	ca 		= commit --amend
	can 	= commit --amend --no-edit
	#note: 'git commit --amend --all -u' does not add untracked files
	aca 	= !"git add --all && git ca"
	#note: add --date=now to change author date
	acan 	= !"git add --all && git can" # --date=now
	del 	= rm
	ren 	= mv
	hide 	= update-index --assume-unchanged
	unhide 	= update-index --no-assume-unchanged
	hidden 	= !"git ls-files -v | grep '^h' | cut -c3- | wrap"
	unstage = reset
	cp 		= cherry-pick
	
	#usage: git undo -dx
	undo 		= !"git reset --hard && git clean -f"
	undo-merge 	= reset --merge orig_head
	undo-rebase = !"f() { \
					git reset --hard orig_head; \
					: abort only if rebase is in progress; \
					(test -d ".git/rebase-merge" || test -d ".git/rebase-apply") \
						&& git rebase --abort; \
				}; f"
	
	## advanced ##
	breset 	= branch-reset
	bfrom 	= branched-from

[pretty]
	lgoc 	= "format:%C(auto)%h%C(reset)%C(auto)%d%C(reset) %C(#ffff99)%s%C(reset) - %C(#ffb799)%aN%C(reset)"
	one 	= "format:%C(auto)%h%C(reset) %C(#ffaaff)(%ar)%C(reset) %C(#ffff99)%s%C(reset) - %C(#ffb799)%aN%C(reset)%C(auto)%d%C(reset)"
	two 	= "format:%C(auto)%h%C(reset) - %C(#ffeeff)%ad%C(reset) %C(#ffaaff)(%ar)%C(reset)%C(auto)%d%C(reset)%n  %C(#ffff99)%s%C(reset) - %C(#ffb799)%aN%C(reset)"
	four 	= "format:%C(auto)%h%C(reset)%C(auto)%d%C(reset)%n  %C(#ffff99)%s%C(reset)%n  %C(#ffeeff)%ad%C(reset) %C(#ffaaff)(%ar)%C(reset) - %C(#ffb799)%aN%C(reset)%n  %C(#ffeeff)%cd%C(reset) %C(#ffaaff)(%cr)%C(reset) - %C(#ffb799)%cN%C(reset)"
	note 	= "format:%H"
[alias]
	#hint: add --all to see whole repo
	l 		= log --graph --date=format:'%a %d-%b-%Y %H:%M' --decorate --abbrev-commit --pretty=two
	last 	= log --graph --date=format:'%a %d-%b-%Y %H:%M' --decorate --abbrev-commit --pretty=two -1
	lo 		= log --oneline --decorate --abbrev-commit
	lg  	= log --graph --decorate --abbrev-commit
	lgo 	= log --graph --oneline --decorate --abbrev-commit
	lgoc 	= log --graph --date=format:'%a %d-%b-%Y %H:%M' --decorate --abbrev-commit --pretty=lgoc
	lg1 	= log --graph --date=format:'%a %d-%b-%Y %H:%M' --decorate --abbrev-commit --pretty=one
	lg2 	= log --graph --date=format:'%a %d-%b-%Y %H:%M' --decorate --abbrev-commit --pretty=two
	lg4 	= log --graph --date=format:'%a %d-%b-%Y %H:%M' --decorate --abbrev-commit --pretty=four
	l1 		= log --date=format:'%a %d-%b-%Y %H:%M' --decorate --abbrev-commit --pretty=one
	l2 		= log --date=format:'%a %d-%b-%Y %H:%M' --decorate --abbrev-commit --pretty=two
	l4 		= log --date=format:'%a %d-%b-%Y %H:%M' --decorate --abbrev-commit --pretty=four

# default options for commands
[log]
	decorate 	= short
	mailmap 	= true
	follow 		= true
	date 		= format:%a %d-%b-%Y %H:%M
	# exclude blue and bold blue due to visibility
	graphColors = red, green, yellow, magenta, cyan, bold red, bold green, bold yellow, bold magenta, bold cyan

[push]
	default = current

[format]
	pretty = fuller

[status]
	showUntrackedFiles 	= all
	#branch 			= true
	#short 				= true

[merge]
	log 			= true
	ff 				= false
	#conflictStyle 	= diff3

[merge "ours"]
	driver = ~/git-merge-keep-ours.sh %O %A %B
[merge "ours-fail"]
	driver = ~/git-merge-keep-ours-fail.sh %O %A %B
[merge "theirs"]
	driver = ~/git-merge-keep-theirs.sh %O %A %B
[merge "theirs-fail"]
	driver = ~/git-merge-keep-theirs-fail.sh %O %A %B

[branch "master"]
	mergeOptions = --no-ff

[pull]
	rebase 	= true

[branch]
	autoSetupMerge 		= false
	autoSetupRebase 	= always

[grep]
	lineNumber 		= true
	patternType 	= extended

# templates
[init]
	templateDir = ~/.git-templates
[core]
	hooksPath 	= ~/.git-hooks

# url shortcuts
# git clone h:github:rmandvikar/csharp-trie
[url "https://github.com/"]
	insteadOf = h:github:
# git clone s:github:rmandvikar/csharp-trie
[url "git@github.com:"]
	insteadOf = s:github:
# git clone h:gitlab:rmandvikar/<project>
[url "https://gitlab.com/"]
	insteadOf = h:gitlab:
# git clone h:rm:csharp-trie
[url "https://github.com/rmandvikar/"]
	insteadOf = h:rm:
# git clone s:rm:csharp-trie
[url "git@github.com:rmandvikar/"]
	insteadOf = s:rm:

# color: normal, black, red, green, yellow, blue, magenta, cyan, white
# attribute: bold, dim, ul, blink, reverse
[color]
	diff 		= true
	status 		= true
	branch 		= true
	interactive = true
	ui 			= true
	pager 		= true

# default colors: http://shallowsky.com/blog/programming/gitcolors.html
[color "diff"]
	#plain 		= normal
	#meta 		= normal
	commit 		= "#7eb6ff" # ~blue
	whitespace 	= normal red
	frag 		= bold cyan
	old 		= "#fc9f9f" # ~red
	new 		= "#c9ffc9" # ~green

[color "status"]
	#header 	= white
	added 		= "#c9ffc9" # ~green
	changed 	= "#fc9f9f" # ~red
	untracked 	= "#fc9f9f" # ~red
	branch 		= cyan
	nobranch 	= bold red

[color "branch"]
	current 	= cyan
	#local 		= green
	remote 		= bold red
	upstream 	= bold red

[color "decorate"]
	#branch 		= normal
	#remoteBranch 	= normal
	#tag 			= normal
	#stash 			= normal
	#HEAD 			= bold cyan

[color "interactive"]
	prompt 	= "#ff88ff"
	#header = normal
	#help 	= normal
	#error 	= normal

[color "grep"]
	match 		= bold red
	filename 	= "#ffaaff"
	linenumber 	= bold green

[include]
	# user
	path = user.gitconfig
	# overrides: this needs to be the last line
	path = overrides.gitconfig
