# ignore files
#*
# ignore dirs
/*/

*.lnk
NTUSER*
SciTE.session

.gitk
.bash_history
.lesshst
.viminfo
.node_repl_history
.git-credentials
#.*rc
#.*

/dump/*

!.gitignore
!*.gitconfig
!*.sh
!*.bash_profile
!*.bashrc
!*.lua
!*.properties
!/bin/
!/.git-hooks/
/.git-hooks/*.d/*.*
/.git-hooks/*.d/*(gitignore)*
!/.git-templates/
!winmerge.empty
!readme.txt

.bashrc.local.bashrc
.bashrc.work.bashrc

user.gitconfig
work-user.gitconfig

ostype.gitconfig
overrides.gitconfig
alias-work.gitconfig
