# global config

# include alias: this needs to be before [alias]
[include]
	path = alias-work.gitconfig

[core]
	autocrlf = true
	commentChar = "#"
[rerere]
	enabled = true

[core]
	editor 			= scite
	preloadindex 	= true
	fscache 		= true
	pager 			= less -x4 -q
	quotePath 		= false
	longPaths 		= true
[gc]
	#auto = 256 #default 6700

[help]
	autocorrect = 23
	htmlPath 	= https://git-scm.com/docs
[advice]
	waitingForEditor = false

[diff]
	tool 			= winmerge
	mnemonicPrefix 	= true
	noprefix 		= true
	colorMoved 		= true
	renames 		= copies
[difftool]
	prompt 	= false
[difftool "winmerge"]
	cmd 	= winmerge.sh "$LOCAL" "$REMOTE" # see winmerge.sh
[difftool "vscode"]
	cmd 	= code -n --diff --wait "$LOCAL" "$REMOTE"

[merge]
	tool 			= winmerge
[mergetool]
	prompt 			= false
	keepBackup 		= false
	keepTemporaries = false
[mergetool "winmerge"]
	cmd 			= WinMergeU -e -u -wl "$MERGED" # "$REMOTE" "$LOCAL"
	trustExitCode 	= false
[mergetool "meld"]
	keepBackup = false
	trustExitCode = false
	cmd = '/c/Program Files (x86)/meld/meld.exe' "$BASE" "$LOCAL" "$REMOTE" -o "$MERGED"
[mergetool "vscode"]
	cmd = code -n --wait $MERGED

[alias]
	# note: shell commands (with !) will be executed from the top-level directory of a repository,
	# which may not necessarily be the current directory. so add 'cd ${GIT_PREFIX:-.} &&' before.
	
	## readonly ##
	s 		= status -s
	sl 		= status
	# conflict (U=Unmerged) files
	sc 		= diff --name-only --diff-filter=U
	b 		= branch
	co 		= checkout
	eco 	= echeckout
	#coe 	= echeckout
	d 		= diff
	dc 		= diff --staged
	dt 		= difftool
	dtc 	= difftool --staged
	mt 		= mergetool
	dns 	= diff --name-status
	dno 	= diff --name-only
	dr 		= diff --color-words=.
	drc 	= diff --color-words=. --staged
	drw 	= diff --color-words="\\\\w+|."
	drwc 	= diff --color-words="\\\\w+|." --staged
	ds 		= diff --ignore-all-space
	db 		= diff --ignore-blank-lines
	# ignore insignificant changes
	di 		= diff --ignore-all-space --ignore-blank-lines
	dic 	= diff --ignore-all-space --ignore-blank-lines --staged
	dni 	= diff --no-index
	marker 	= diff --check
	sb 		= show-branch
	wc 		= whatchanged --oneline
	rp 		= rev-parse
	rl 		= rev-list
	lrcount = rev-list --left-right --count
	lcount 	= rev-list --left-only --count
	rcount 	= rev-list --right-only --count
	note 	= log --pretty=note -1
	lsf 	= ls-files
	lst 	= ls-tree
	has 	= branch -r --contains
	no-has 	= branch -r --no-contains
	g 		= grep
	gi 		= grep -i
	ga 		= grep --untracked --no-exclude-standard
	gai 	= grep --untracked --no-exclude-standard -i
	greph 	= grep --heading
	m 		= merge
	r 		= rebase
	f 		= fetch
	p 		= pull
	bn 		= branch-name
	ranged 	= range-diff
	
	## write ##
	a 		= add
	an 		= add --intent-to-add --ignore-removal
	c 		= commit
	cm 		= commit -m
	ac 		= !"git add --all && git c"
	acm 	= !"git add --all && git cm"
	ca 		= commit --amend
	can 	= commit --amend --no-edit
	#note: 'git commit --amend --all -u' does not add untracked files
	aca 	= !"git add --all && git ca"
	#note: add --date=now to change author date
	acan 	= !"git add --all && git can" # --date=now
	acf 	= !"git add --all && git cf"
	cf 		= commit --fixup
	del 	= rm
	ren 	= mv
	hide 	= update-index --assume-unchanged
	unhide 	= update-index --no-assume-unchanged
	hidden 	= !"git ls-files -v | grep '^h' | cut -c3- | qp"
	unstage = reset
	cp 		= cherry-pick
	pushf 	= push --force-with-lease
	
	#usage: git undo -dx
	undo 		= !"git reset --hard && git clean -f"
	
	hide-all 	= !"git status -s | cut -c3- | xargs git hide"
	unhide-all 	= !"git hidden | xargs git unhide"
	
	## advanced ##
	bsync 	= branch-sync
	bfrom 	= branched-from

[pretty]
	lgoc 	= "format:%C(auto)%h%C(reset)%C(auto)%d%C(reset) %C(#ffff99)%s%C(reset) - %C(#ffb799)%aN%C(reset)"
	one 	= "format:%C(auto)%h%C(reset) %C(#ffaaff)(%ar)%C(reset) %C(#ffff99)%s%C(reset) - %C(#ffb799)%aN%C(reset)%C(auto)%d%C(reset)"
	two 	= "format:%C(auto)%h%C(reset) - %C(#ffeeff)%ad%C(reset) %C(#ffaaff)(%ar)%C(reset)%C(auto)%d%C(reset)%n  %C(#ffff99)%s%C(reset) - %C(#ffb799)%aN%C(reset)"
	two-sc 	= "format:%C(auto)%h%C(reset) - %C(#ffeeff)%ad%C(reset) %C(#ffaaff)(%ar)%C(reset)%C(auto)%d%C(reset)%n  %C(#ffff99)%s%C(reset) - %C(#ffb799)%aN%C(reset) (%G?)"
	four 	= "format:%C(auto)%h%C(reset)%C(auto)%d%C(reset)%n  %C(#ffff99)%s%C(reset)%n  %C(#ffeeff)%ad%C(reset) %C(#ffaaff)(%ar)%C(reset) - %C(#ffb799)%aN%C(reset)%n  %C(#ffeeff)%cd%C(reset) %C(#ffaaff)(%cr)%C(reset) - %C(#ffb799)%cN%C(reset)"
	note 	= "format:%H"
	subject = "format:%s"
	rn 		= "format:%s - %aN"
[alias]
	#hint: add --all to see whole repo
	l 		= log --graph --pretty=two
	last 	= log --graph --pretty=two -1
	lsc 	= log --graph --pretty=two-sc
	lns 	= log --graph --pretty=two --name-status
	lno 	= log --graph --pretty=two --name-only
	lp 		= log --graph --pretty=two -p
	lpr 	= log --graph --pretty=two -p --color-words="."
	lprw 	= log --graph --pretty=two -p --color-words="\\\\w+|."
	lpi 	= log --graph --pretty=two -p --ignore-all-space --ignore-blank-lines
	lo 		= log --oneline
	lg 		= log --graph
	lgo 	= log --graph --oneline
	lgoc 	= log --graph --pretty=lgoc
	lg1 	= log --graph --pretty=one
	lg2 	= log --graph --pretty=two
	lg4 	= log --graph --pretty=four
	l1 		= log --pretty=one
	l2 		= log --pretty=two
	l4 		= log --pretty=four
	pr 		= log --pretty=subject --no-decorate --no-merges --topo-order --reverse
	rn 		= log --pretty=rn --no-decorate --first-parent --topo-order --reverse
	lde 	= log --graph --pretty=two --decorate-refs-exclude=refs/tags

# default options for commands
[log]
	decorate 		= short
	mailmap 		= true
	follow 			= true
	date 			= format-local:%a %d-%b-%Y %H:%M
	abbrevCommit 	= true
	# exclude blue and bold blue due to visibility
	graphColors 	= red, green, yellow, magenta, cyan, bold red, bold green, bold yellow, bold magenta, bold cyan

[push]
	default = upstream

[format]
	pretty = fuller

[status]
	showUntrackedFiles 	= all
	#branch 			= true
	#short 				= true

[merge]
	log 			= 1000000000 # true defaults to 20
	ff 				= false
	conflictStyle 	= zdiff3 # zealous diff3

[merge "ours"]
	driver = ~/git-merge-keep-ours.sh %O %A %B
[merge "ours-fail"]
	driver = ~/git-merge-keep-ours-fail.sh %O %A %B
[merge "theirs"]
	driver = ~/git-merge-keep-theirs.sh %O %A %B
[merge "theirs-fail"]
	driver = ~/git-merge-keep-theirs-fail.sh %O %A %B

[branch "master"]
	mergeOptions = --no-ff
[branch "main"]
	mergeOptions = --no-ff

[pull]
	ff 		= only
	# do 'git rebase -r'
	rebase 	= merges

[rebase]
	autoStash 			= true
	autoSquash 			= true
	abbreviateCommands 	= true
	instructionFormat 	= "%s - %aN"

[branch]
	autoSetupMerge 		= false
	autoSetupRebase 	= always
	sort 				= committerdate

[grep]
	lineNumber 		= true
	column 			= true
	patternType 	= extended

[blame]
	coloring 	= highlightRecent
	date 		= format-local:%a %d-%b-%Y %H:%M

# templates
[init]
	templateDir 	= ~/.git-templates
	defaultBranch 	= main
[core]
	#hooksPath 		= ~/.git-hooks
	excludesfile 	= ~/.gitexcludes

# url shortcuts
# git clone h:github:rmandvikar/csharp-trie
[url "https://github.com/"]
	insteadOf = h:github:
# git clone s:github:rmandvikar/csharp-trie
[url "git@github.com:"]
	insteadOf = s:github:
# git clone h:gitlab:rmandvikar/<project>
[url "https://gitlab.com/"]
	insteadOf = h:gitlab:
# git clone h:rm:csharp-trie
[url "https://github.com/rmandvikar/"]
	insteadOf = h:rm:
# git clone s:rm:csharp-trie
[url "git@github.com:rmandvikar/"]
	insteadOf = s:rm:

# color: normal, black, red, green, yellow, blue, magenta, cyan, white
# attribute: bold, dim, ul, blink, reverse
[color]
	# with always, scripts break for status, branch
	diff 		= true
	status 		= true
	branch 		= true
	interactive = true
	ui 			= true
	pager 		= true
	push 		= true
	blame 		= true

# default colors: http://shallowsky.com/blog/programming/gitcolors.html
[color "diff"]
	#plain 		= normal
	#meta 		= normal
	commit 		= "#7eb6ff" # ~blue
	whitespace 	= normal red
	frag 		= bold cyan
	old 		= "#fc9f9f" # ~red
	new 		= "#9bff9b" # ~green
	oldMoved 	= "#fcf3cf" # ~light-yellow
	newMoved 	= "#edbb99" # ~light-brown

[color "status"]
	#header 		= white
	added 			= "#9bff9b" # ~green
	changed 		= "#fc9f9f" # ~red
	untracked 		= "#fc9f9f" # ~red
	branch 			= cyan
	nobranch 		= bold red
	localBranch 	= cyan
	remoteBranch 	= bold red

[color "branch"]
	current 	= cyan
	#local 		= green
	remote 		= bold red
	upstream 	= bold red

[color "decorate"]
	#branch 		= normal
	#remoteBranch 	= normal
	#tag 			= normal
	#stash 			= normal
	#HEAD 			= bold cyan

[color "interactive"]
	prompt 	= "#ff88ff" # ~pink
	#header = normal
	#help 	= normal
	#error 	= normal

[color "grep"]
	match 		= bold red
	filename 	= "#ffaaff" # ~pink
	linenumber 	= bold green
	column 		= bold green

[color "push"]
	error 	= bold red

[color "blame"]
	highlightRecent 	= "#abb2b9", 12 month ago, "#ffffff", 1 month ago, "#ffff99"

# https://git-scm.com/docs/git-config#Documentation/git-config.txt-safedirectory
[safe]
	directory = *

[include]
	# user
	path = user.gitconfig
	# ostype
	path = ostype.gitconfig
	# overrides: this needs to be the last line
	path = overrides.gitconfig
