# ignore files
#*
# ignore dirs
/*/

bak/
*.lnk
*.gist
*.session
*.log
*.bak
*.ini
*.txt
*.jar
.gitk
.bash_history
.lesshst
.minttyrc
.viminfo
NTUSER*
local.bashrc
work.bashrc
work
workspace
~

!.gitignore
!*.gitconfig
!*.sh
!*.properties
!.bash_profile
!.bashrc
!*.lua
!*.properties
!/bin/
!/.git-hooks/
/.git-hooks/*.d/*.*
/.git-hooks/*.d/*(gitignore)*
!/.git-templates/
!winmerge.empty
!readme.txt

user.gitconfig
work-user.gitconfig

overrides.gitconfig
