# ignore files
#*
# ignore dirs
/*/

bak/
*.lnk
*.gist
*.session
*.log
*.bak
*.ini
*.txt
.gitk
.bash_history
.lesshst
.minttyrc
.viminfo
NTUSER*
work.bashrc
work
workspace
~

!.gitignore
!*.gitconfig
!*.sh
!*.properties
!.bash_profile
!.bashrc
!*.lua
!*.properties
!/bin/
!/.git-hooks/
/.git-hooks/*.d/*.*
!/.git-templates/
/.git-templates/hooks/changeid
/.git-templates/hooks/skip-cmc
!winmerge.empty
!readme.txt

user.gitconfig
work-user.gitconfig

overrides.gitconfig
