# example: conditional includes

# github
[includeIf "gitdir/i:github/"]
	path = user.gitconfig
# work gitconfig
[includeIf "gitdir/i:work/"]
	path = work-user.gitconfig
[includeIf "gitdir/i:d:/workspace/company/"]
	path = d:/workspace/company/company-user.gitconfig
