This file is used to skip the 'add_ChangeId' function in the commit-msg
hook.

To apply the function copy this file to .git/hooks/ dir of the repo and
remove the '.sample' extension. The desired behavior is default.
